<!-- views/appslist.ejs -->
<!doctype html>
<html>
<head>
    <title>List of Apps: {TEMPLATE_APP_NAME_GOES_HERE}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <link rel="stylesheet" href="assets/styles-1.css"> <!-- load stylesheet -->
</head>

<body>
    <%- include('header'); %>

    <div class="main_container">
        <div class="container">
            <h1> Welcome to the Home Page </h1>
        </div>

        <hr/>
        <div class="row">
        <% if (typeof(user) !== 'undefined') { %>
            <h2>Applications for You</h2>
            <% if ( applications.length ) { %>
                <ul class="list_of_items">
                    <% for (var i = 0; i < applications.length; i++) { %>
                    <li class="timeline-yellow">
                        <div class="quote">
                            <a href="<%= applications[i].path %>">
                            <span class="application_name" style="text-align:left">
                                <%= applications[i].name %> </span> &nbsp;
                            </a>
                            <p class="application_description" style="text-align:left">
                            <%= applications[i].description %> </p>
                        </div>
                    </li>
                    <% } %>
                </ul>
                <p/>
                <p> Number of Applications is <%= applications.length %> </p>
            <% } else { %>
                <p> It is lonely without any applications. Please get some soon. </p>
            <% } %>
        <% } else { %>
            <div class="container">
                Please login to access the services: 
                    <a href="/login" class="btn btn-danger btn-sm">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
            </div>            
        <% } %>
        </div>
    </div>

    <%- include('footer'); %>
</body>
</html>
